<section>
  <div class="container">
    <div class="header">
      <p>CONTROL II - JIMMY TOMBE</p>
      <img src="LogoUAO.png" alt="Logo" class="logo" />
    </div>
    <div class="image-container">
      <img src="imagenfondo.png" alt="Imagen" />
    </div>
    <div class="feliz">
      <div class="footer">
        <p class="font-semibold">GET READY FOR THAT PARTIAL</p>
      </div>
      <div class="button-container">
        <button
          class="!flex !items-center !justify-center animate-pulse !font-bold !text-2xl"
          (click)="goToExercises()"
        >
          <span>CHECK THE EXERCISES</span>
          <i class="pi pi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
